.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3rem;
}

.navbar-logo {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  text-decoration: none;
  
  
}

.navbar-logo img {
  height: 1.75rem;
}

.navbar-logo span {
  font-weight: bolder;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-top: 0.15rem;
  color: #ef3837;
  font-family: 'Roboto Black', sans-serif;
  
}

.navbar-search-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  gap: 0.75rem;
  
  
}

.navbar-search-input,
.navbar-search-btn {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  max-width: 24rem; 
  width: 100%;
  transition: all 0.3s ease;
  border: 1px solid transparent; 
}

.navbar-search-input:focus,
.navbar-search-input:hover,
.navbar-search-btn:hover {
  outline: 0px;
  border: 1px solid black;
  transform: translateY(-3px); 
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2);
}

.navbar-search-btn {
  max-width: fit-content;
  background-color: white; 
}

.navbar-search-btn:hover {
  cursor: pointer;
}

.navbar-cta-register .navbar-login-link {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  border: 1px solid transparent; 
  background-color: lightcoral;
  color:white;  
  font-family: 'Roboto Black', sans-serif;
  text-decoration: none;
}

.navbar-cta-register .navbar-login-link:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2); 
}